@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.custom-select {
  position: relative;
  appearance: none; /* Remove default dropdown arrow */
  -webkit-appearance: none; /* Remove default dropdown arrow for Safari */
  -moz-appearance: none; /* Remove default dropdown arrow for Firefox */
  padding-right: 50px; /* Adjust padding to make space for the custom arrow */
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBvbHlnb24gcG9pbnRzPSIxMiAxNiA2LjUgMTAgMTcuNSAxMCIgZmlsbD0id2hpdGUiLz48L3N2Zz4=")
    no-repeat right 10px center;
  background-size: 25px; /* Size of the arrow */
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .mobileHand {
    width: 45rem !important;
  }

  .form {
    max-width: 400px !important;
  }
}